{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "apolloClient": "./src/services/apollo/client",
          "apolloQueries": "./src/services/apollo/queries",
          "apolloMutations": "./src/services/apollo/mutations",
          "components": "./src/components",
          "store": "./src/models/store",
          "navigation": "./src/services/navigation",
          "secureStore": "./src/services/secureStore"
        }
      }
    ]
  ]
}
